<div class="container-fluid border-bottom">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-4 col-lg-3 col-xl-2 d-md-block bg-light sidebar collapse p-0">
      <div class="position-sticky pt-3 sidebar-sticky d-flex flex-column flex-shrink-0 p-3">
        <img class="mx-auto mt-3 rounded-circle" src="./assets/img/profile.jpg" width="100" height="100"/>
        <h4 class="text-center mt-3 fw-normal lh-1">{{username}}</h4>
        <p class="text-center fs-6 fw-light lh-1">{{email}}</p>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <a class="nav-link" [class.link-dark]="!isActive('/user/dashboard')" routerLinkActive="active" ariaCurrentWhenActive="page" [routerLink]="'./dashboard'">
                <i class="bi bi-clipboard-data me-2" width="16" height="16"></i>
                Dashboard
              </a>
            </li>
            <li>
              <a class="nav-link" [class.link-dark]="!isActive('/user/profile')" routerLinkActive="active" ariaCurrentWhenActive="page" [routerLink]="'./profile'">
                <i class="bi bi-person me-2" width="16" height="16"></i>
                Profile
              </a>
            </li>
            <li>
              <a class="nav-link" [class.link-dark]="!isActive('/user/personal-data')" routerLinkActive="active" ariaCurrentWhenActive="page" [routerLink]="'./personal-data'">
                <i class="bi bi-list-ul me-2" width="16" height="16"></i>
                Personal Data
              </a>
            </li>
            <li>
              <a class="nav-link" [class.link-dark]="!isActive('/user/my-recipes')" routerLinkActive="active" ariaCurrentWhenActive="page" [routerLink]="'./my-recipes'">
                <i class="bi bi-database me-2" width="16" height="16"></i>
                My Recipes
              </a>
            </li>
            <li>
              <a class="nav-link" [class.link-dark]="!isActive('/user/my-makes')" routerLinkActive="active" ariaCurrentWhenActive="page" [routerLink]="'./my-makes'">
                <i class="bi bi-database me-2" width="16" height="16"></i>
                My Makes
              </a>
            </li>
            <li>
              <a class="nav-link" [class.link-dark]="!isActive('/user/favorites')" routerLinkActive="active" ariaCurrentWhenActive="page" [routerLink]="'./favorites'">
                <i class="bi bi-heart me-2" width="16" height="16"></i>
                Favorites
              </a>
            </li>
            <hr>
            <li>
              <a class="nav-link" [class.link-dark]="!isActive('/user/settings')" routerLinkActive="active" ariaCurrentWhenActive="page" [routerLink]="'./settings'">
                <i class="bi bi-sliders me-2" width="16" height="16"></i>
                Settings
              </a>
            </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-8 col-lg-9 col-xl-10 ms-sm-auto px-md-4 py-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>