.center {
   // display: flex;
   // flex: content;
   // flex-direction: row;
   // align-items: center;
   // position: sticky;

   display: flex;
   flex-direction: row; // fxLayout
   flex-wrap: wrap; //fxLayout
   box-sizing: border-box;
   align-content: stretch; // fxLayoutAlign
   align-items: stretch; // fxLayoutAlign
   justify-content: flex-start; // fxLayoutAlign
   
   a {
      padding: 0px 50px 0px 50;
      color: white !important;
   }
} 
