<mat-toolbar color="primary">
    <button mat-icon-button fxShow.sm="true" fxShow.gt-md="true" fxShow="false" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>
    </button> 
    <span>The Recipe Hub</span>
    <span class="menu-spacer"></span>
    <div class="center">
      <a mat-button [routerLink]="''"> Home </a>
      <a mat-button [routerLink]="'/recipes'"> Recipes </a>
      <a mat-button [routerLink]="'/makes'"> Makes </a>
      <a mat-button [routerLink]="'/contact'"> Contact </a>
      <a mat-button [routerLink]="'/dashboard'"> Dashboard </a>
    </div>
</mat-toolbar>

<mat-sidenav-container  fxShow.sm="false" fxShow.gt-md="false" fxShow="true">
    <mat-sidenav #sidenav="matSidenav" mode="side" opened="true" class="mat-elevation-z8">
        <img class="avatar mat-elevation-z8" src="./assets/img/profile.jpg" />

        <h4 class="name">John Smith</h4>
        <p class="designation">Software Engineer</p>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" [routerLink]="'./'">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="'./profile'">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="'./personal-data'">
            <mat-icon>manage_accounts</mat-icon>
            <span>Personal Data</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="'./my-recipes'">
            <mat-icon>list_alt</mat-icon>
            <span>My Recipes</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="'./my-makes'">
            <mat-icon>list_alt</mat-icon>
            <span>My Makes</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="'./favorites'">
            <mat-icon>favorite</mat-icon>
            <span>Favorites</span>
        </button>

        <!-- <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>help</mat-icon>
            <span>Help</span>
        </button> -->

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>