.rounded-circle {
    border-radius: 100px !important;
    box-shadow: inset 0 0 40px 0px #000000;
    background-image: url('../../../assets/img/hero.jpg');
    background-size: cover;
    background-position: center;
    span {
        border-radius: 100px !important;
    }
}