<!-- <mat-grid-list cols="1" rowHeight="10:1">
    <mat-grid-tile class="form">
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary">Save</button>
    </mat-grid-tile>
</mat-grid-list> -->

<form [formGroup]="profileForm" class="form-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Profile Information</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input formControlName="username" matInput placeholder="Zenaticon">
                        <!-- <mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error> -->
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Fullname</mat-label>
                        <input formControlName="fullname" matInput placeholder="Daniel Petre Manguta">
                        <!-- <mat-error *ngIf="fullname.invalid">{{getErrorMessage()}}</mat-error> -->
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" matInput placeholder="petremanguta98@gmail.com">
                        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input formControlName="password" matInput placeholder="Password">
                        <!-- <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error> -->
                    </mat-form-field>
                </div>
                <div>
                    <button (click)="saveForm()" mat-raised-button color="primary">Update profile</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>