<div class="container col-xxl-8 px-4 py-lg-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-6">
        <div class="rounded-circle ratio ratio-4x3">
        </div>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Welcome to TheRecipeHub, the ultimate destination for foodies!</h1>
        <p class="lead">Discover a world of delicious recipes at TheRecipeHub. From quick and easy meals to decadent desserts, we've got you covered. Start cooking today!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" [routerLink]="'./recipes'">Browse Recipes</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Sign Up</button>
        </div>
      </div>
    </div>
</div>